{% load static %}

<div class="container-fluid mx-5 " style=" margin-bottom: 9%;">
    <nav class="navbar navbar-expand-lg  fixed-top shadow-sm ">

        <!--  Show this only on mobile to medium screens  -->
            <a class="navbar-brand f-16 font-weight-bold" href="{% url 'index' %}"> AppXSolutions </a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
        <!--  Use flexbox utility classes to change how the child elements are justified  -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
        
            <div class="navbar-nav">
                <a class="nav-link f-12 font-weight-bold" href="{% url 'index' %}"><span  class="mynavitems">Home</span></a>                  
            </div>
            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <span class="text-dark f-12 font-weight-bold mr-3 ml-auto nav-link" >{{user.username}}</span>                         
                <a class="f-12 font-weight-bold mr-3 ml-auto nav-link text-white-50" href="{% url 'signout' %}" >Log Out</a>

                {% else %}
                    <a href="{%url 'register' %}" class="f-12 font-weight-bold mr-3 ml-auto nav-link text-white-50">Register</a>
                    <a href="{%url 'login' %}" class="f-12 font-weight-bold mr-3 ml-auto nav-link text-white-50">Login</a>

                {% endif %} 
                <a href="#contact" class="f-12 font-weight-bold mr-3 ml-auto nav-link text-white-50" >Contacts</a> 
                </div>
            </div>    
    </nav>
</div>