{% extends 'base2.html' %}
{% load bootstrap4 %}

{% block content %}

<!--project status-->
<div class="container-fluid" style="background-color:rgb(211, 217, 226) ; margin-top: -4%;" >
   <div class="container mt-5"><br><br>
      <h3>Project Status: Draft or Complete</h3>       
      <div class="card mt-3">
          <div class="card-header">
          <h4>Status</h4>
          </div>
          <div class="card-body">
          <h5 class="card-title">Project stage is</h5><br>
          <h5 class="card-text"><b>{{status}}Draft</b></h5>
          <p></p>
          </div>
      </div><br>
    </div>   
</div>

{% endblock %}